* {margin: 0; padding: 0; box-sizing: border-box}
*::before, *::after {box-sizing: border-box;}
ul,ol {list-style: none}
h1,h2,h3 {font-weight: normal}

body {
    font-size: 3.7vw;
}

section > h2:first-child {
    font-size: 4.53vw;
    border-left: 2px solid #D43B32;
    margin: 4vw 0;
    padding-left: 2.6vw;
    line-height: 1;
}

.topbar {
    background-color: #D43B32;
    padding: 4.53vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar .logo {
    width: 38vw;
}
.topbar .downloadApp {
    line-height: 7.5vw;
    border: 1px solid white;
    border-radius: 4.25vw;
    color: white;
    text-decoration: none;
    padding: 0 .5em;
}

.siteNav > ol {
    display: flex;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 1.1em;
}

.siteNav > ol > li {
    flex: 1;
}

.siteNav > ol > li.active {
    color: #D43B32;
}

.siteNav > ol > li > span {
    height: 11vw;
    line-height: 11vw;
    display: inline-block;
    position: relative;
}

.siteNav > ol > li.active > span:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -2vw;
    right: -2vw;
    border-bottom: 2px solid #D43B32;
}

.playlists {
    margin-top: 5.5vw;
}

.playlists > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: .9em;
}

.playlists > ul > li {
    width: calc(33.333333% - 1vw);
    margin-bottom: 4vw;
}

.playlists > ul > li > img {
    width: 100%;
}

.playlists > ul > li > p {
    padding: 0 1vw;
    display: -webkit-box;
    line-height: 4vw;
    height: 8vw;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastestMusic {

}

.lastestMusic > ol {
    padding-left: calc(2.6vw + 2px);
}

.lastestMusic > ol > li {
    border-bottom: 1px solid #E2E2E3;
    padding: 1vw 0;
    position: relative;
}

.lastestMusic > ol > li h3{
    font-size: 4.53vw;
}

.lastestMusic > ol > li p {
    font-size: 3.2vw;
    color: #888;
    line-height: 1;
    display: flex;
}

.lastestMusic > ol > li svg.play-circled {
    width: 5.9vw;
    height: 5.9vw;
    position: absolute;
    right: 4vw;
    top: 50%;
    transform: translateY(-50%);
    fill: #aaa;
}

.lastestMusic > ol > li svg.sq {
    width: 3.6vw;
    height: 3.6vw;
    margin-right: .5em;
    margin-top: .4vw;
}

section.art {
    background: transparent url("//s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922") no-repeat center 0;
    background-size: cover;
    padding-top: 17.6vw;
    padding-bottom: 5vw;
}

section.art .logo{
    text-align: center;

}

section.art .logosvg{
    width: 61.7vw;
}

section.art .openApp {
    display: block;
    max-width: 81.3vw;
    padding: 1vw 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #D43B32;
    border: 1px solid;
    font-size: 4.3vw;
    line-height: 8.6vw;
    border-radius: 5.2vw;
    margin-bottom: 1vw;
    margin-top: 3vw;
}

section.art .copyright {
    font-size: 3.2vw;
    transform: scale(.75);
    text-align: center;
    color: #888;
}
