* {margin: 0; padding: 0; box-sizing: border-box}
*::before, *::after {box-sizing: border-box;}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background:transparent url("//p4.music.126.net/dzglSmh-wy3LzE7FI34bTg==/109951163028113542.jpg") no-repeat center;
    background-size: cover;
}

.dist-container {
    position: relative;
}

.dist-container .icon-wrapper {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
}
.dist-container .icon-pause {
    width: 10vw;
    fill: white;
}
.dist-container .icon-play {
    width: 7vw;
    fill: white;
    margin-left: 1.5vw;
}
.dist-container .pointer {
    width: 24vw;
    position: absolute;
    left: 45vw;
}

.dist-container .disc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18vw;
}

.dist-container .ring {
    width: 72vw;
}

.dist-container .light {
    width: 72vw;
    position: absolute;
}

.dist-container .cover {
    width: 44.5vw;
    position: absolute;
    border-radius: 50%;
    animation: circle 20s infinite linear;
    animation-play-state: paused;
}

.dist-container.playing .light,
.dist-container.playing .cover {
    animation-play-state: running;
}
.dist-container .icon-pause {
    display: none;
}
.dist-container.playing .icon-pause {
    display: block;
}
.dist-container.playing .icon-play {
    display: none;
}

.song-description {
    flex-grow: 1;
    color: #AEABAC;
    text-align: center;
    line-height: 2;
    margin-top: 20px;
}

.song-description h1 {
    font-size: 18px;
    color: white;
}

.song-description p {
    font-size: 14px;
    line-height: 24px;
}

.song-description .lines {
    transition: transform .3s;
}

.song-description .lyric {
    height: 72px;
    border: 1px solid;
    overflow: hidden;
}

.song-description p.active {
    color: white;
}

.page > .links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D43B32;
}

.page .links > a {
    width: 38.5vw;
    margin: 1em;
    text-align: center;
    border: 1px solid #D43B32;
    background-color: transparent;
    padding: 1.5vw;
    text-decoration: none;
    color: inherit;
    border-radius: 1.2vw;
    letter-spacing: 1vw;
}

.page .links > a.main {
    background-color: #D43B32;
    text-decoration: none;
    color: white;
    border-radius: 1.2vw;
}